body{
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  color: #FA8072;
}

h2{
  color: #FFDAB9;
}

h3{
  color: #0F52BA;
  text-align: center;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

p{
  color: #FFDAB9;
}

.nb-padding{
  padding: 0.5em 1em 0.5em 1em;
}

.nb-logo{
  width:50px;
  margin: 0 1em 0 0;
  border-radius:25px;
}

.nb-brand-color{
  color:#FA8072;
  font-weight: bold;
  font-size: 1.5em;
}

.tagline{
  margin: 20% 0 20% 0;
}

.nav-item{
  text-align: right;
}

.nb-color{
  color: #FFDAB9;
  margin: 0 0.5em 0 0.5em;
  font-size: 1.2em;
}

.nb-color:hover{
  color: #0F52BA;
}

 i{
   margin-left: 0.5em;
 }
